@charset "utf-8";

/* ********************
    base_wrap 
******************** */
.base_wrap {width:100%; min-height:100vh;}
.base_wrap .base_body {max-width:110rem; min-height: 85vh; margin:0 auto;  border-left: 1px solid var(--black); border-right: 1px solid var(--black);}
.base_wrap .base_body .body_main{padding: 0.8rem 1.6rem;}


/* ********************
    base_header 
******************** */
.header_wrap {width:100%; padding:1.6rem 0.8rem; border-bottom: 1px solid var(--black); background-color:var(--white);}
.base_header {display: flex;}
.base_header .base_nav {width:15%;}
.base_header .base_nav button.menu_btn{width:4rem; height:4rem;}
.base_header .base_nav button.menu_btn::before {content:''; display: block; width:100%; height:100%; background:url(../../resources/img/menu_ham.png) no-repeat center / 100%;}
.base_header .base_nav button.menu_btn.act::before {background:url(../../resources/img/menu_x.png) no-repeat center / 100%;}
.base_header .tit_h1 {width:70%; text-align: center;}
.base_header .header_btn {width:15%; text-align: right;}
.base_header .header_btn button.mode {width:4rem; height:4rem;} 
.base_header .header_btn button.mode::before {content:''; display: block; width:100%; height:100%; background:url(../../resources/img/mode_light.png) no-repeat center / 100%;}





/* ********************
    base_footer
******************** */
.footer_wrap {width:100%; padding:1.6rem 0.8rem; border-bottom: 1px solid var(--black); background-color:var(--white); border-top: 1px solid var(--black); border-bottom:1px solid var(--black);}
.base_footer {display:flex; justify-content:space-between;}
.base_footer ul.my_info {}
.base_footer ul.my_info li {display:inline-block; margin-right:1.6rem;}
.base_footer ul.my_site {}
.base_footer ul.my_site li {display:inline-block; margin-left:1.6rem;}





/* ********************
    main_section
******************** */
.main_section .main_tit_box  {margin-bottom:4rem; }
.main_section .main_tit_box .tit_h2 {font-size:3.6rem; font-weight: 700; margin-bottom:1.6rem;}
.main_section .main_tit_box .h2_txt {font-size:1.6rem; line-height: 1.3;}

.main_section .main_cont .code_cont {background:#f9fbe7; padding: 3.2rem .8rem; margin-bottom:4rem;}





/* ********************
    bul_
******************** */
[class*="bul_"].dep2 >li {margin-top:.4rem; color:red; font-size: 1.4rem;}
[class*="bul_"].dep3 >li {margin-top:0rem; color:blue; font-size:1.2rem} 
[class*="bul_tit"] {display: block; margin-bottom: 1.6rem; font-size:2rem;}
[class*="bul_"] >li {position:relative; padding-left:1.6rem; line-height: 1.5; margin-top:1.2rem;}
[class*="bul_"] >li:first-child {margin-top:0;}
[class*="bul_"] >li::before {content:''; position:absolute; left:.8rem; }
.bul_dot >li::before {top:.8rem; width:0.3rem; height:0.3rem; background:var(--black); border-radius: 50%;}
.bul_hypen >li::before {content:''; top:1rem; width:0.4rem; height: .1rem; background:var(--black);}
.bul_counter {counter-reset: number;}
.bul_counter >li {padding-left: 2.4rem;}
.bul_counter >li::before {counter-increment: number; }
.bul_counter.decimal >li::before {content: counter(number, decimal)'.'; }
.bul_counter.upper-alpha >li::before {content: counter(number, upper-alpha)'.';}
/* disc, circle, square, decimal, decimal-leading-zero, lower-roman, upper-roman, lower-greek, lower-latin, upper-Iatin, armenian, georgian, lower-alpha, upper-alpha */

dl[class*="bul_"] > div:not(:first-child) {margin-top:1.6rem;}
dl[class*="bul_"] > div dt {font-weight: 700; margin-bottom:.8rem;}
dl[class*="bul_"] > div dd {position:relative; display: block; line-height: 1.5; padding-left:1.6rem;}

dl.bul_dot > div dd::before {content:''; position:absolute; left:.4rem; top:.8rem; width:.4rem; height: .4rem; background:var(--black); border-radius: 50%;}
dl.bul_hypen > div dd::before {content:''; position:absolute; left:.4rem; top:1rem; width:.4rem; height: .1rem; background:var(--black);}
dl.bul_counter > div {counter-reset: number;}
dl.bul_counter > div dd {padding-left:0;}
dl.bul_counter > div dd::before {content:''counter(number, decimal) '.'; counter-increment: number; padding:0 .8rem;}




/* ********************
    ico_
******************** */





/* ********************
    form_wrap
******************** */
.caution {font-size:1.4rem; color: #ef5350;}
.form_wrap {padding: .8rem 1.6rem;}
.form_box {display:flex; flex-wrap: wrap; margin-bottom:1.6rem;}
.form_box .form_tit {width:15%; padding-top:.8rem;}
.form_box .form_cont {display:flex; align-items: center; flex-wrap: wrap; width:85%;}  
.form_box .form_cont .form_item {display:inline-block; margin-right:.8rem;}
.form_box .form_cont .form_item input[type=text] {width:18rem; height:3.6rem; }
.form_box .form_cont .form_item input[type=radio] {width: 2.4rem; height:2.4rem; border: 1px solid #000;}
.form_box .form_cont .form_item input[type=checkbox] {width:2.4rem; height:2.4rem;}
.form_box .form_cont .form_info {width:100%; margin-top:.8rem;}
.form_box .form_info .caution {}

