@charset "utf-8";

:root {
	
	--gray900:#212121;
	--gray800:#424242;
	--gray700:#616161;
	--gray600:#757575;
	--gray500:#9E9E9E;
	--gray400:#BDBDBD;	
	--gray300:#E0E0E0;
	--gray200:#EEEEEE;
	--gray100:#F5F5F5;
	--gray50:#FAFAFA;
	
	--black:#000;
	--white:#fff;
	
	--bg-primary : #373e57;
	--bg-secondary : #151728; 
	--bg-tertiary : #263238;

	--link-color : #b0bec5 ;
	--line-color : #9E9E9E;
	
    --themed : #fff;
}


* ul >li i {color: var(--link-color);}
* ul >li a {color: var(--link-color);}
* ul >li a:hover {color:var(--white);}

