@charset "utf-8";

:root {
	
	--gray900:#212121;
	--gray800:#424242;
	--gray700:#616161;
	--gray600:#757575;
	--gray500:#9E9E9E;
	--gray400:#BDBDBD;	
	--gray300:#E0E0E0;
	--gray200:#EEEEEE;
	--gray100:#F5F5F5;
	--gray50:#FAFAFA;
	
	--black:#000;
	--white:#fff;
	
	--bg-primary : #607d8b;
	--bg-secondary : #455a64; 
	--bg-tertiary : #263238;
	
    --themed : #fff;
}










:root.mode_dark {

	--gray900:#FAFAFA;
	--gray800:#F5F5F5;
	--gray700:#EEEEEE;
	--gray600:#E0E0E0;
	--gray500:#BDBDBD;
	--gray400:#9E9E9E;
	--gray300:#757575;
	--gray200:#616161;
	--gray100:#424242;
	--gray50:#212121;

    --black:#fff;
	--white:#000;

}

